@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}